<button class="navbar-burger" onclick="toggleMenu()"></button>
    <div class="menu">
      <nav>
        <a href="#" style="animation-delay: 0.1s">About</a>
        <a href="#" style="animation-delay: 0.2s">Portfolio</a>
        <a href="#" style="animation-delay: 0.3s">Services</a>
        <a href="#" style="animation-delay: 0.5s">Contact</a>
      </nav>
    </div>
    <script type="text/javascript">
      const toggleMenu = () => {
        document.body.classList.toggle("open");
      };
    </script>